In [294]:
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.plotting.register_matplotlib_converters()

In [154]:
df_train = pd.read_csv('../heartECG_data/mitbih_train.csv')

In [295]:
df_train.shape

(87553, 188)

In [296]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
0,0.960114,0.863248,0.461538,0.196581,0.094017,0.125356,0.099715,0.088319,0.074074,0.082621,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.000000,0.659459,0.186486,0.070270,0.070270,0.059459,0.056757,0.043243,0.054054,0.045946,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.925414,0.665746,0.541436,0.276243,0.196133,0.077348,0.071823,0.060773,0.066298,0.058011,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.967136,1.000000,0.830986,0.586854,0.356808,0.248826,0.145540,0.089202,0.117371,0.150235,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.927461,1.000000,0.626943,0.193437,0.094991,0.072539,0.043178,0.053541,0.093264,0.189983,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [298]:
cols = [i for i in range(188)]
df_train.columns = cols

categories = list(df_train[cols[-1]].unique())

In [299]:
f0 = df_train[cols[-1]] == 0.0
cat_0 = df_train[f0]
m0 = cat_0.mean().drop(cols[-1])

f1 = df_train[cols[-1]] == 1.0
cat_1 = df_train[f1]
m1 = cat_1.mean().drop(cols[-1])

f2 = df_train[cols[-1]] == 2.0
cat_2 = df_train[f2]
m2 = cat_2.mean().drop(cols[-1])

f3 = df_train[cols[-1]] == 3.0
cat_3 = df_train[f3]
m3 = cat_3.mean().drop(cols[-1])

f4 = df_train[cols[-1]] == 4.0
cat_4 = df_train[f4]
m4 = cat_4.mean().drop(cols[-1])

In [308]:
plt.figure(figsize=(14,6))

plt.xlabel('Time (ms)')
plt.title('d')

plt.plot(m0)
plt.plot(m1)
plt.plot(m2)
plt.plot(m3)
plt.plot(m4)

ax = plt.gca()
ax.set_xlim([0, 186])
ax.set_ylim([0,1])

plt.show()

TypeError: 'str' object is not callable